<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%- title %></title>
    
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                AngularJS
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:60px">
        <%- body %>
    </div>

  
    <!-- A few key dependencies, linked in order -->
    <!-- Bring in the angular client -->
    
    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>

    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>

    <script type="text/javascript" src="/js/angularController.js"></script>

    </body>
</html>
